.light{
	position: relative;
	border-radius: 40px;
	height: 80px;
	width: 80px;
}
.horizontal{
	left:0px;
}
.veritical-top{
	top:calc(50% - 120px);
}
.veritical-bottom{
	top:calc(50% - 40px);
}
.light.green{
	background-color: rgba(0,255,0,0.2);
}
.light.red{
	background-color: rgba(255,0,0,0.2);
}
.light.yellow{
	
}